@model List<Issue>

@{
    var issues = Model;
}

@foreach (var issue in issues)
{
    <div name="task_link" data-fancybox data-src="#issue" href="javascript:">
        <div class="board-column-issue">
            <div class="board-column-issue-title">@issue.Title</div>
            <div class="board-column-issue-item">@issue.Description</div>
            <div class="board-column-issue-item">@issue.TypeOfTask</div>
            <div class="board-column-issue-item">Start time: @issue.StartTime</div>
            <div class="board-column-issue-item">End time: @issue.EndTime</div>
        </div>
    </div>
}

<form id="issue" th:fragment="login">
    <div id="title" class="board-column-issue-title"></div>
    <div class="board-column-issue-item"></div>
    <div class="board-column-issue-item"></div>
    <div class="board-column-issue-item"></div>
    <div class="board-column-issue-item"></div>
    
    @* <input type="text" name="username" id="username" placeholder="Логін"> *@
    @* <input type="password" name="password" id="password" placeholder="Пароль"> *@
    @* <input type="submit" value="Увійти"> *@
    @* <div id="message" class="message"></div> *@
    @* <div class="reg__account"> *@
    @*     <a class="reg__account-link" data-fancybox data-src="#registration" href="javascript:">Немає аккаунту? *@
    @*         Зареєструватися</a> *@
    @* </div> *@
</form>