@model Issue
@{
    var issue = Model;
}
<form id="issue" th:fragment="login">
    <div class="board-column-issue-title">@issue.Title</div>
    <div class="board-column-issue-item">@issue.Description</div>
    <div class="board-column-issue-item">@issue.TypeOfTask</div>
    <div class="board-column-issue-item">Start time: @issue.StartTime</div>
    <div class="board-column-issue-item">End time: @issue.EndTime</div>
    
    @* <input type="text" name="username" id="username" placeholder="Логін"> *@
    @* <input type="password" name="password" id="password" placeholder="Пароль"> *@
    @* <input type="submit" value="Увійти"> *@
    @* <div id="message" class="message"></div> *@
    @* <div class="reg__account"> *@
    @*     <a class="reg__account-link" data-fancybox data-src="#registration" href="javascript:">Немає аккаунту? *@
    @*         Зареєструватися</a> *@
    @* </div> *@
</form>