@model LawyerTimeTracker.Models.ViewModels.UpdateAccountModel
@{
    ViewData["Title"] = "Profile information";
    User authorizedUser = ViewBag.AuthorizedUser;
    
    var imagePath = "/images/default_avatar.png";
    if (authorizedUser.Image != null)
    {
       imagePath = "data:image;base64," + Convert.ToBase64String(authorizedUser.Image);
    }
}
<h1>@ViewData["Title"]</h1>

<form asp-action="UpdateProfile" asp-controller="Account" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div id="img-container">
        
            <input type="file" name="Image"/>
            <span asp-validation-for="Image"/>
            <img src="@imagePath"/>
    </div>
    
    <div id="input-reg">
        <div>
            <label asp-for="Email">Email</label><br/>
            <input type="text" asp-for="Email" value="@authorizedUser.Email" readonly/>
            <span asp-validation-for="Email"/>
        </div>
        <div>
            <label>First name</label><br/>
            <input type="text" value="@authorizedUser.FirstName" readonly/>
        </div>
        <div>
            <label>Last name</label><br/>
            <input type="text" value="@authorizedUser.LastName" readonly/>
        </div>
        <div>
            <label>Organization</label><br/>
            <input type="text" value="@authorizedUser.Organization.Name" readonly/>
        </div>
        <div>
            <label asp-for="PhoneNumber">Phonenumber</label><br/>
            <input type="text" asp-for="PhoneNumber" value="@authorizedUser.PhoneNumber"/>
            <span asp-validation-for="PhoneNumber"/>
        </div>
        <div>
            <label asp-for="Skype">Skype</label><br/>
            <input type="text" asp-for="Skype" value="@authorizedUser.Skype"/>
            <span asp-validation-for="Skype"/>
        </div>
        
        <div>
            <input type="checkbox" asp-for="IsImageToDelete"/>
            <label asp-for="IsImageToDelete">Delete image</label>
            <span asp-validation-for="IsImageToDelete"/>
            <br/>
            <input type="submit" value="Update"/>
        </div>
    </div>
</form>